<h2>Supplement item</h2>
<div class = "col-md-4 col-md-offset-4">
  <h3>Item_name: <%= @supplement.item_name %></h3>
  <h4>
    Amount: <%= @supplement.package_amount %> <br>
    Cost: <%= @supplement.item_cost %>
  </h4>
</div>


