<h2>Supplement item</h2>
<div class = "info">
  <h3>Item_name: <%= @supplement.item_name %></h3>
  <p>
    Amount: <%= @supplement.package_amount %> <br>
    Cost: <%= @supplement.item_cost %>
  </p>
</div>


