<h2>invoice show page</h2>

Invoice ID: <%= @invoice.id%> <br>
Consultation ID: <%= @invoice.consultation_id %><br>

Charge_item: <%= @invoice.menus.pluck(:menu_item) %><br>
<% @invoice.menus.each do |menu| %>
  Charge cost: <%= menu.menu_cost %>
<% end %>