<h2>New Practitioner registration</h2>

 <% if @practitioner.errors.any? %>
 <ol>
    <% @practitioner.errors.full_messages.each do |msg| %>
    <li><% msg %></li>
    <% end %>
 </ol>
 <% end%>

 <%= render :partial => 'form' %>