/ <%= Practitioner.find(session[:practitioner_id]).email if session[:practitioner_id] %>
=Practitioner.find(session[:practitioner_id]).email if session[:practitioner_id]


%h2 page.html.haml this is root path