/ <%= Practitioner.find(session[:practitioner_id]).email if session[:practitioner_id] %>
=Practitioner.find(session[:practitioner_id]).email if session[:practitioner_id]


%h2 Welcome to Practitioner Database
%p Please chose the menu from menu bar.
