/ <%= Practitioner.find(session[:practitioner_id]).email if session[:practitioner_id] %>
/ =Practitioner.find(session[:practitioner_id]).email if session[:practitioner_id]

<div class="col-md-8 col-md-offset-2">
%h2 Welcome to Practitioner Database
%h4 Please choose the menu from menu bar.
</div>