<h2>Service menu list </h2>
<%# @invoice_menus.each do |menu| %>
  <p>ID: <%= @invoice_menus.menu.id %>
    Item name: <%= @invoice_menus.menu.menu_name %>
  Item cost: <%= @invoice_menus.menu.menu_cost %>
  Qty: <%= @invoice_menus.quantity %></p>
  <%# end %>